$red-color: #ED1C24;
$red-color-hover: #ff3138;
$light-gray-color: rgb(194, 194, 194);
$light-gray-color-hover: rgb(216, 216, 216);
$shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
$forms-shadow: 1px 0px 2px 1px rgba(41, 41, 41, 0.25);
$text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
$header-links-color: #6F6F6F;
$item-name-color: #E2E2E2;
$cart-hover-color: #f1f1f1;
$order-item-border: #C4C4C4;
$form-border-color: #acacac;
$total-price-color: rgb(61, 61, 61);
$empty-cart-color: rgb(129, 129, 129);
$place-order-color: rgb(0, 134, 0);
$place-order-color-hover: rgb(0, 175, 0);